<!DOCTYPE HTML>
<html>	
	<head>
		<title>URL Shortener - OldBurgundy</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
		
		<link rel="stylesheet" href="http://localhost:8080/css/style.css">
	</head>
	<body>
		<div id="banner"></div>
		<div class="jumbotron">
			<center>
				<h1><b>Error: $error ($status)</b></h1>
				<br/>
				<img src="$img" height="300">
			</center>
		</div>
	</body>
</html>