<!DOCTYPE html>
<html>
	<head>
		<title>URL Shortener - OldBurgundy</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.0.3/css/bootstrap.min.css" />
		<script type="text/javascript" src="webjars/jquery/2.0.3/jquery.min.js"></script>
		<script type="text/javascript" src="webjars/bootstrap/3.0.3/js/bootstrap.min.js"></script>
		
		<link rel="stylesheet" href="./css/style.css">
		<script>
			var host = "ws://" + "$host" + "/csv/ws";
		</script>
		<script type="text/javascript" src="./js/oldBurgundy.js"></script>
	</head>
	<body>
		<div id="banner"></div>
		<div class="jumbotron">
			<form role="form" id="shortener">
				<div class="form-group" style="">
					<label for="uri">Long URL - CSV</label>
					<input type="file" class="form-control" id="csvFile" /><!--onchange="readFile(this.files)"-->
				</div>
				<button type="submit" class="btn btn-primary" id="btn_submit">Make short!</button>
			</form>
			<p/>
			<div id="result"></div>
		</div>
	</body>
</html>