/* Medium Candy HEX code = #E2062C */
body {
  background: -webkit-radial-gradient(circle, #000, #121212, #000); /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(circle, #000, #121212, #000); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(circle, #000, #121212, #000); /* For Firefox 3.6 to 15 */
  background: radial-gradient(circle, #000, #121212, #000); /* Standard syntax */
}

.top-bar {
  background-color: #000;
}

.top-bar-section li a{
  background-color: #000;
}

.logo {
  text-align: center;
  padding: 20px;
  padding-top: 100px;
}

.shorten-url-block {
  display: none;
  padding: 20px;
  width: 500px;
  clear: both;
}

.shorten-url-block .img-block {
  padding: 8px;
  float: left;
  width: 20%;
}

.shorten-url-block .details-block {
  padding-left: 5px;
  float: left;
  width: 80%;
}

.shorten-url-block .details-block #shortened-url {
  font-size: 1.4em;
}

.shorten-url-block .details-block #shortened-url a:hover {
  color: #008CBA;
}

.shorten-url-block .details-block #target-url a {
  color: #FFF;
  font-size: 0.95em;
}

.shorten-url-block .details-block #target-url a:hover {
  text-decoration: underline;
}

#alert-box {
  display: none;
  position: absolute;
  width: 100%;
}

/* Styles for expanding search element */
.search-field {
  width: 0;
}

input[type="text"].dream-search {
  letter-spacing: 0.25px;
  font-size: 1em;
  width: 350px;
  padding-left: 25px;
}

input[type="text"].dream-search:focus {
  width: 450px;
  transition: ease-in-out,width .35s ease-in-out;
  border-color: #008CBA;
}

.center-row ul{
  display: table;
  margin: 0 auto;
}

@media screen and (max-width: 470px) {
    input[type="text"].dream-search {
      letter-spacing: 0.25px;
      font-size: 1em;
      width: 250px;
      padding-left: 25px;
    }

    input[type="text"].dream-search:focus {
      width: 350px;
      transition: ease-in-out,width .35s ease-in-out;
      border-color: #FF9900;
    }
  
  @media screen and (max-width: 370px) {
    input[type="text"].dream-search {
      letter-spacing: 0.25px;
      font-size: 1em;
      width: 150px;
      padding-left: 25px;
    }

    input[type="text"].dream-search:focus {
      width: 250px;
      transition: ease-in-out,width .35s ease-in-out;
      border-color: #FF9900;
    }
}