<!DOCTYPE HTML>
<html>	
	<head>
		<title>URL shortener - OldBurgundy</title>
		<link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.0.3/css/bootstrap.min.css" />
		<link rel="stylesheet" href="./css/style.css" />
		<script type="text/javascript" src="webjars/jquery/2.0.3/jquery.min.js"></script>
		<script src="./js/wsClient.js"></script>
	</head>
	<body>
		<div id="mainArea">
			<div id="container">
				<div id="chatLog">
				</div>
				<input id="text" type="Hidden" value="$shortURL"/>
				<iframe style="width: 100%" src="$sponsor"></iframe>		
			</div>	
		</div>
	</body>
</html>